<tr>
    <td class="bg-color-1 inner-padding" style="text-align: center;" >
        
        <h2 class="text-color-1">Olá <!-- ESP: Hola, ENG: Hello  --> <b style="color: #f29e15;">[Razão Social] <!-- ESP: [Razón Social], ENG: [Business Name]  --></b></h2> 
        <span class="textdescription"> O contrato <b>[C003213]</b> acordado com o vendedor <b>[Mariana de la Gracia Chacón]</b> faz a solicitação de pagamento com o número de referência <b>[ID 892379014]</b> no valor de <b>[$10.000 USD]</b>.
        <!-- ESP: El contrato <b>[C003213]</b> acordado con el vendedor <b>[Mariana de la Gracia Chacón]</b> hace la solicitud de pago con número de referencia <b>[ID 892379014]</b> por el monto de <b>[$10,000 USD]</b>. 
        ENG: The contract <b>[C003213]</b> agreed with the seller <b>[Mariana de la Gracia Chacón]</b> makes the payment request with reference number <b>[ID 892379014]</b> for the amount of <b>[$10,000 USD]</b>.-->
        </br>
        </span>
    </td>
</tr>