<tr>
    <td class="bg-color-1 inner-padding" style="text-align: center;" >
        <h3>
            O código de verificação solicitado está abaixo.
        </h3>
        <h1 style="color: #f29e15; letter-spacing: 10px;">{{code}}</h1>

        <img src='https://s3-us-west-2.amazonaws.com/cmodity-test.grainchain.io/mails/assets/otp-verification.jpg' width='264' alt='alt_text' border='0' align='center' style='background: #F8F8F8; font-family: sans-serif; font-size: 15px; mso-height-rule: exactly; line-height: 20px; color: #555555;'>
      
    </td>
</tr>