registry=https://registry.npmjs.org/
@gc-crm:registry=http://nexus.grainchain.io/repository/crm/
email=crojas@grainchain.io
always-auth=true
//http://nexus.grainchain.io/repository/crm/:_auth=bnBtLWdyYWluY2hhaW46Z3I0MW5jaDQxbg==
